numpy~=1.17.4
torch>=1.3.1
torchvision>=0.4.2
tensorboard~=2.0.2
cleverhans~=3.0.1
easydict~=1.9
setuptools~=41.6.0

# needed only if you want to run kernet/examples/visualize.py
pandas~=1.0.1
seaborn~=0.10.0
matplotlib~=3.1.3
scikit-learn~=0.22.1
